@using Microsoft.AspNetCore.Identity
@model JobSearchService.ApplicationProfile
@inject SignInManager<ApplicationProfile> SignInManager
@inject UserManager<ApplicationProfile> UserManager

@{
    ViewData["Title"] = "Home Page";
}

            <div class="text-center">
                    <h3 class="display-3" style="margin-top: 40px">Job Search Service</h3>
                <div class="col-md-12">
                    <dl class="row" style="margin-top:5px;">
                        <dt class="col-md-6">
                            <h3 style="font-size:40px;">
                                            <a asp-area="Identity" asp-page="/Account/EmployerLogin" class="btn btn-dark" style="font-size:50px;">Employer Login</a>
                            </h3>
                        </dt>
                        <dt class="col-md-6">
                            <h3 style="font-size:40px;">
                                    <a asp-area="Identity" asp-page="/Account/ApplicantLogin" class="btn btn-dark" style="font-size:50px;">Applicant Login</a>
                            </h3>
                        </dt>
                    </dl>
                </div>
            </div>
